@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Inconsolata', monospace; */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');
/* font-family: 'Work Sans', sans-serif; */

/* * {
    border: 1px solid blue;
} */

.page-header {
    font-size: 30px;
    padding: 60px;
    text-align: center;
}

::selection {
    text-shadow: none;
    color: #d0f5e9;
    color: white;
    background: #ff0000;
}

/* ---- */

html,
body {
    margin: 0;
    padding: 0;
}

.logo-container {
    margin-bottom: 10vh;
}

.logo {
    width: 200px;
    /* height: 300px; */
}

.menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    /* background-color:#ee0000; */
    height: 100vh;
    margin-top: 0;
    padding-left: 30px;
    padding-top: 10vh;
}

ul {
    
    list-style: none;
    padding-left: 30px;
    line-height: 1.5;
}


p {
    margin: 0;
}

.margin-from-header {
    margin-left: 260px;
    margin-top: 0;
    padding: 0;
}


/* ----------- */

.active-link {
    text-decoration: underline;
    /* text-underline-offset: 13px; */
    color: #000000;
}

li:hover {
    font-style: italic;

}

.visited-link {
    color: #000000;
    text-decoration: none;
    /* color: white; */
}

* {
   font-family: 'Inconsolata', monospace;
   font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    /* border: 1px solid red; */
}



img.imgdemo {
    width:100%;
    pointer-events: none;
}

img.imgsingrid {
    width: 100%;
}

.images-container {
    -moz-column-count:2;
    -webkit-column-count:2;
    column-count:2;
    column-gap: 3px;
}

.images-container-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}